
  <li> 
    <%= link_to(memo) do %>
      <div class="memo_label">
        <div class="memo_title"><%= memo.title%></div>
        <div class="memo_created"><%= memo.created_at.in_time_zone("Tokyo").strftime("%Y-%m-%d %H:%M:%S") %></div>
      </div>
      <img class="memo_pict" src='<%= memo.image_data %>'>
    <%end%>
  </li>

