<%= render "memos/header", {toNew: true}%>
<div id="memo" class="inIndex">
  <p class="flash_message" style="color: green"><%= notice %></p>
  <ul>
    <% @memos.each do |memo| %>
      <%= render memo ,{memo: @memo, linked: true}%>
    <% end %>
  </ul>
</div>