
<%= render "memos/header" , {toEdit: true, toDelete: true, toIndex: true}%>
<div id="memo">
  <p class="flash_message" style="color: green"><%= notice %></p>
  <ul>
    <%= render @memo ,{linked: false}%>
  </ul>
</div>
